$siteName: 'vt';

/**********************
 Global style
***********************/
@import "Setting/*";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

:root {
	--#{$siteName}_full-width: 90rem;
	--#{$siteName}_transition: all 0.4s ease;

	/* Font */
	--#{$siteName}_font-family: 'Nunito Sans', 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', sans-serif;
	--#{$siteName}_font-ratio: 1.5;
	--#{$siteName}_font-size-m: 1rem;
	--#{$siteName}_font-size-s: calc(var(--#{$siteName}_font-size-m) / var(--#{$siteName}_font-ratio));
	--#{$siteName}_font-size-l: calc(var(--#{$siteName}_font-size-m) * var(--#{$siteName}_font-ratio));
	--#{$siteName}_font-size-xl: calc(var(--#{$siteName}_font-size-l) * var(--#{$siteName}_font-ratio));
	--#{$siteName}_font-size-xxl: calc(var(--#{$siteName}_font-size-xl) * var(--#{$siteName}_font-ratio));

	/* Color */
	--#{$siteName}_main-color: #CC4133;
	--#{$siteName}_accent-color: #CC4133;
	--#{$siteName}_sub-color: #7C1623;

	--#{$siteName}_main-text-color: #373737;
	--#{$siteName}_sub-text-color: #373737;

	--#{$siteName}_bg-color: #FFFFFF;
	--#{$siteName}_sub-bg-color: #F0F3F4;

	--#{$siteName}_border-color: #E7EBED;

	--#{$siteName}_link-color: #CC4133;
}

html, body {
	font-size: calc(0.9rem + 0.1vw);
	letter-spacing: 0.07em;
	line-height: 1.5;
	font-family: var(--#{$siteName}_font-family);
	color: var(--#{$siteName}_main-text-color);
	background-color: var(--#{$siteName}_bg-color);
	scroll-behavior: smooth;
}

main {
	position: relative;
	margin-top: 4rem;
	background-color: var(--#{$siteName}_bg-color);
	z-index: 0;
}

img {
	max-width: 100%;
}

p {
	line-height: 2;
	font-family: 'Noto Sans JP', sans-serif;

	@include mediaQuery(m) {
		line-height: 1.7;
	}
}

.#{$siteName} {
	&_wrapper {
		position: relative;
		overflow-x: hidden;
	}
}

/**********************
 Local style
***********************/
@import "Components/loading";
@import "Components/header";
@import "Components/footer";
@import "Components/cover";
@import "Components/block";
@import "Components/button";
@import "Components/ellipsis";
@import "Components/card";
@import "Components/swiperCard";
@import "Components/swiperCardSwitch";
/*@import "Components/sideBar";*/
/*@import "Components/list";
@import "Components/frame";
@import "Components/swiperCover";*/

@import "Utility/font";
@import "Utility/view";

@import "Animation/fade";
