$siteName: 'vt';

/**********************
 Global style
***********************/
@import "Setting/*";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

:root {
	--#{$siteName}_full-width: 90rem;
	--#{$siteName}_transition: all 0.4s ease;

	/* Font */
	--#{$siteName}_font-family: 'Nunito Sans', 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', sans-serif;
	--#{$siteName}_font-ratio: 1.5;
	--#{$siteName}_font-size-m: 1rem;
	--#{$siteName}_font-size-s: calc(var(--#{$siteName}_font-size-m) / var(--#{$siteName}_font-ratio));
	--#{$siteName}_font-size-l: calc(var(--#{$siteName}_font-size-m) * var(--#{$siteName}_font-ratio));
	--#{$siteName}_font-size-xl: calc(var(--#{$siteName}_font-size-l) * var(--#{$siteName}_font-ratio));
	--#{$siteName}_font-size-xxl: calc(var(--#{$siteName}_font-size-xl) * var(--#{$siteName}_font-ratio));

	/* Color */
	--#{$siteName}_main-color: #CC4133;
	--#{$siteName}_accent-color: #CC4133;
	--#{$siteName}_sub-color: #7C1623;

	--#{$siteName}_main-text-color: #373737;
	--#{$siteName}_sub-text-color: #373737;

	--#{$siteName}_bg-color: #FFFFFF;
	--#{$siteName}_sub-bg-color: #F0F3F4;

	--#{$siteName}_border-color: #E7EBED;

	--#{$siteName}_link-color: #CC4133;
}

html, body {
	font-size: calc(0.9rem + 0.1vw);
	letter-spacing: 0.07em;
	line-height: 1.5;
	font-family: var(--#{$siteName}_font-family);
	color: var(--#{$siteName}_main-text-color);
	scroll-behavior: smooth;
}

main {
	position: relative;
	margin-top: 4rem;
	z-index: 0;
}

.#{$siteName}_bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--#{$siteName}_sub-bg-color);
	background-size: 10rem;
	background-position: center top;
	background-repeat: repeat;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22350%22%20height%3D%22420%22%20viewBox%3D%220%200%20350%20420%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M175%20210L350%20420H0L175%20210Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3Cpath%20d%3D%22M0%200L175%20210H0V0Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3Cpath%20d%3D%22M350%200V210H175L350%200Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3C%2Fsvg%3E');
	z-index: -100;
}

img {
	max-width: 100%;
}

p {
	line-height: 2;
	font-family: 'Noto Sans JP', sans-serif;

	@include mediaQuery(m) {
		line-height: 1.7;
	}
}

.#{$siteName} {
	&_wrapper {
		position: relative;
		overflow-x: hidden;
	}
}

/**********************
 Local style
***********************/
@import "Components/loading";
@import "Components/header";
@import "Components/footer";
@import "Components/cover";
@import "Components/block";
@import "Components/button";
@import "Components/ellipsis";
@import "Components/card";
@import "Components/frame";
@import "Components/swiperCard";
@import "Components/swiperCardSwitch";
@import "Projects/service";
@import "Projects/points";
@import "Projects/recruit";
@import "Projects/information";

@import "Utility/font";
@import "Utility/view";

@import "Animation/fade";
