<header class="<%= siteName %>_header">
	<a href="">
		<img src="dist/assets/sample-icon.png">
	</a>
	<nav>
		<ul>
			<li>
				<a href="">Dinosaur</a>
			</li>
			<li>
				<a href="">Dinosaur</a>
			</li>
			<li>
				<a href="">Dinosaur</a>
			</li>
			<li>
				<a href="">Dinosaur</a>
			</li>
			<li>
				<a href="">Dinosaur</a>
			</li>
		</ul>
	</nav>
</header>