<head prefix="og:http://ogp.me/ns#">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="dist/css/style.css">
  <link rel="icon" href="dist/assets/sample.ico">
  <link rel="icon" href="dist/assets/sample-icon.png">
  <link rel="apple-touch-icon" href="dist/assets/sample-icon.png">
  <link rel="apple-touch-icon-precomposed" href="dist/assets/sample-icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <title>Dinosaur</title>
  <meta name="description" content="Dinosaur">
  <meta name="keywords" content="Dinosaur">

  <!-- OGP -->
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content=""><!-- 絶対値で指定 -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ja_JP">

  <!-- Swiper -->
  <link rel="stylesheet" href="dist/css/swiper.min.css">
  <!-- <link rel="stylesheet" href="dist/css/swiper-bundle.min.css"> -->
</head>