<header class="<%= siteName %>_header">
	<a href="">
		<img class="fadeIn fadeIn--1" src="dist/assets/logo.svg">
	</a>
	<nav class="js-menu">
		<ul class="fadeIn fadeIn--1d fadeIn--2">
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/service">Service</a>
			</li>
			<li>
				<a href="/">Project</a>
			</li>
			<li>
				<a href="/recruit">Recruit</a>
			</li>
			<li>
				<a href="/">Information</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</nav>
	<button class="js-menu_toggler <%= siteName %>_menu fadeIn fadeIn--1d fadeIn--2">
		<span></span>
		<span></span>
		<span></span>
	</button>
</header>