<head prefix="og:http://ogp.me/ns#">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="dist/css/style.css">
  <link rel="shortcut icon" href="dist/assets/favicon.ico">
  <link rel="apple-touch-icon" href="dist/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="dist/assets/android-chrome-192x192.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <title>株式会社VORTEX</title>
  <meta name="description" content="VORTEX | 関わる人の「もっと」を応援する">
  <meta name="keywords" content="VORTEX, SES, システムエンジニアリングサービス">

  <!-- OGP -->
  <meta property="og:title" content="VORTEX | 関わる人の「もっと」を応援する">
  <meta property="og:description" content="システムエンジニアリングサービスを提供しています。">
  <meta property="og:url" content="">
  <meta property="og:image" content=""><!-- 絶対値で指定 -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="VORTEX">
  <meta property="og:locale" content="ja_JP">

  <!-- Swiper -->
  <link rel="stylesheet" href="dist/css/swiper.min.css">
  <link rel="stylesheet" href="dist/css/swiper-bundle.min.css">
</head>