<section class="<%= siteName %>_cover <%= siteName %>_fadeIn">
	<div class="<%= siteName %>_cover-inner">
		<p>恐竜とは、恐竜様類に属する爬虫類の一群である。</p>
		<h1>Dinosaur</h1>
		<p>恐竜とは、恐竜様類に属する爬虫類の一群である。</p>
	</div>
	<img src="dist/assets/sample.png">
</section>