<section class="<%= siteName %>_cover">
	<div class="<%= siteName %>_cover-inner">
		<h1><span class="reveal-text">関わる人の</span><br><span class="reveal-text">「もっと」を応援する</span></h1>
		<p class="fadeIn fadeIn--1">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
		<a href="" class="<%= siteName %>_button fadeIn fadeIn--1"><span>View More</span></a>
	</div>
	<img src="dist/assets/background.svg" class="js-textAnimation fadeIn fadeIn--3 fadeIn--slow">
</section>