@import "../Setting/breakpoints";

/**********************
 information
***********************/
.#{$siteName} {
    &_information {
    	background-color: #ffffff;

    	&-list{
    		& > li {
	    		border-top: 1px solid var(--#{$siteName}_border-color);

	    		&:last-child {
		    		border-bottom: 1px solid var(--#{$siteName}_border-color);
	    		}

		    	& a {
		    		display: block;
		    		padding: 1.5rem 0;
		    		color: var(--#{$siteName}_main-text-color);

		    		&:hover {
		    			& p {
			    			text-decoration: underline;
		    			}
		    		}

		    		& > * + * {
		    			margin-top: 0.5em;
		    		}
		    	}

		    	& time {
		    		font-size: 0.8rem;
		    	}

		    	& span {
		    		margin-left: 1em;
		    		padding: 0.3em 0.6em;
		    		font-size: 0.7rem;
		    		background-color: var(--#{$siteName}_sub-bg-color);
		    	}

		    	& p {
		    		font-size: 1.1rem;
		    	}
    		}
    	}
    }
}