@import "../Setting/breakpoints";

/**********************
 page
***********************/
.#{$siteName} {
    &_page {
    	&-heading {
            margin-top: -5rem;
    		padding-top: 10rem;
    		padding-bottom: 4rem;

    		& h1 {
                font-size: 2.4rem;
                font-weight: 600;
                font-family: var(--#{$siteName}_font-family);
                letter-spacing: 0.07em;
            }
    	}

    	&-content {
    		padding-top: 6rem;
    		padding-bottom: 6rem;

    		@include mediaQuery(s) {
    			padding-top: 4rem;
	    		padding-bottom: 6.5rem;
    		}

    		& h2 {
    			margin-bottom: 1rem;
    			font-size: 1.4rem;
    			font-weight: 500;
    		}

    		& p {
    			& + h2 {
	    			margin-top: 3rem;
    			}
    		}
    	}
    }

    &_article-list {
        & article {
            border-top: 1px solid var(--#{$siteName}_border-color);

            &:last-child {
                border-bottom: 1px solid var(--#{$siteName}_border-color);
            }

            & a {
                display: block;
                padding: 2rem 0;
                color: var(--#{$siteName}_main-text-color);

                &:hover {
                    & p {
                        text-decoration: underline;
                    }
                }
            }

            & .title {
                margin-top: 1em;
                font-size: 1.1rem;
            }

            & .text {
                margin-top: 0.5em;
                font-size: 0.7rem;
            }
        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;

            & time {
                font-size: 0.8rem;
            }
        }
    }

    &_single {
        padding-top: 4rem;

        & article {
            & h1 {
                font-size: 2.5rem;
                font-weight: 600;

                @include mediaQuery(s) {
                    font-size: 2rem;
                }
            }
        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;

            & time {
                font-size: 0.8rem;
            }

            & .vt_tags {
                & li {
                    font-size: 0.8rem;
                }
            }
        }

        &-content {
            margin-top: 4rem;

            & table {
                margin-top: 1em;

                & tr {
                    & td {
                        padding: 0.5rem 1rem;
                        border: 2px solid var(--#{$siteName}_sub-bg-color);

                        &:first-child {
                            white-space: nowrap;
                        }
                    }
                }
            }

            & h2 {
                margin-top: 1em;
                font-size: 2rem;
                font-weight: normal;
            }

            & h3 {
                margin-top: 1em;
                font-size: 1.6rem;
                font-weight: normal;
            }

            & h4 {
                margin-top: 1em;
                font-size: 1.2rem;
                font-weight: normal;
            }

            & ol, & ul {
                margin-top: 1em;

                & li {
                    position: relative;
                    padding-left: 2em;

                    &::before {
                        position: absolute;
                        display: inline-block;
                    }

                    & + li {
                        margin-top: 0.5em;
                    }
                }
            }

            & ul {
                & li {
                    &::before {
                        top: 0.75em;
                        left: 0;
                        content: "";
                        width: 5px;
                        height: 5px;
                        background-color: var(--#{$siteName}_border-color);
                        border-radius: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            & ol {
                counter-reset: number;

                & li {
                    counter-increment: number;

                    &::before {
                        top: 0;
                        left: 0;
                        content: counter(number) ".";
                    }
                }
            }

            & blockquote {
                margin-top: 1em;
                padding-left: 1rem;
                border-left: 2px solid var(--#{$siteName}_sub-bg-color);
            }
        }

        &-nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            margin-top: 6rem;
            font-size: 0.9rem;
            font-weight: 600;
            font-family: var(--#{$siteName}_font-family);

            & a {
                color: var(--#{$siteName}_main-text-color);

                &:hover {
                    text-decoration: underline;
                }
            }

            & span {
                display: inline-block;
                width: 2rem;
                height: 2px;
                background-color: var(--#{$siteName}_border-color);
            }
        }
    }

    &_tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;

        & li {
            padding: 0.3em 0.6em;
            font-size: 0.7rem;
            color: var(--#{$siteName}_main-text-color);
            background-color: var(--#{$siteName}_sub-bg-color);

            & a {
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
