@import "../Setting/breakpoints";

/**********************
 page
***********************/
.#{$siteName} {
    &_page {
    	&-heading {
    		margin-top: -4rem;
    		padding-top: 10rem;
    		padding-bottom: 4rem;
    		text-align: center;

    		& h1 {
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: 0.08em;
            }
    	}

    	&-content {
    		padding-top: 6rem;
    		padding-bottom: 6rem;

    		@include mediaQuery(s) {
    			padding-top: 4rem;
	    		padding-bottom: 4rem;
    		}

    		& h2 {
    			margin-bottom: 1rem;
    			font-size: 1.4rem;
    			font-weight: 500;
    		}

    		& p {
    			& + h2 {
	    			margin-top: 3rem;
    			}
    		}
    	}
    }
}