@import "../Setting/breakpoints";

/**********************
 recruit
***********************/
.#{$siteName} {
    &_recruit {
    	background-size: 10rem;
    	background-position: center top;
    	background-repeat: repeat;
    	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22350%22%20height%3D%22420%22%20viewBox%3D%220%200%20350%20420%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M175%20210L350%20420H0L175%20210Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3Cpath%20d%3D%22M0%200L175%20210H0V0Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3Cpath%20d%3D%22M350%200V210H175L350%200Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3C%2Fsvg%3E');
    	
    	& h2 {
    		margin: 0 5%;
    		font-size: 5rem;
    		font-weight: 600;
    		font-style: italic;
    		letter-spacing: 0.05em;

    		@include mediaQuery(m) {
    			font-size: 4rem;
    		}

    		@include mediaQuery(s) {
    			margin-left: 0;
    			margin-right: 0;
    		}

    		& span + span {
    			margin-left: 0.2em;
    		}

    		& span:nth-child(1) {
    			@include mediaQuery(s) {
    				display: block;
    			}
    		}

    		& span:nth-child(2) {
    			@include mediaQuery(s) {
    				margin-left: 0;
    			}
    		}
    	}

    	& p {
    		margin: 1em 10% 0;

    		@include mediaQuery(s) {
    			margin-left: 0;
    			margin-right: 0;
    		}
    	}
    }
}