@import "../Setting/breakpoints";

/**********************
 recruit
***********************/
.#{$siteName} {
    &_recruit {
    	& h2 {
    		margin: 0 5%;
    		font-size: 5rem;
    		font-weight: 600;
            line-height: 1.3;
    		font-style: italic;
    		letter-spacing: 0.05em;

    		@include mediaQuery(m) {
    			font-size: 4rem;
    		}

    		@include mediaQuery(s) {
    			margin-left: 0;
    			margin-right: 0;
                font-size: calc(2rem + 10vw);
    		}

    		& span + span {
    			margin-left: 0.2em;
    		}

    		& span:nth-child(3) {
    			@include mediaQuery(s) {
    				display: block;
                    margin-left: 0;
    			}
    		}
    	}

    	& p {
    		margin: 2rem 10% 0;

    		@include mediaQuery(s) {
    			margin-left: 0;
    			margin-right: 0;
    		}

            & + p {
                margin-top: 1rem;
            }
    	}
    }
}