@import "../Setting/breakpoints";

/**********************
 font
***********************/
.#{$siteName} {
    &_font {
		&-size {
			&--xxl {
				font-size: var(--#{$siteName}_font-size-xxl);
			}

			&--xl {
				font-size: var(--#{$siteName}_font-size-xl);
			}

			&--l {
				font-size: var(--#{$siteName}_font-size-l);
			}

			&--s {
				font-size: var(--#{$siteName}_font-size-s);
			}
		}
    }
}