@import "../Setting/breakpoints";

/**********************
 modifier
***********************/
.#{$siteName} {
  &_sp--view {
    display: none;

    @include mediaQuery(s) {
      display: block;
    }
  }

  &_pc--view {
    display: block;

    @include mediaQuery(s) {
      display: none;
    }
  }
}