@import "../Setting/breakpoints";

/**********************
 block
***********************/
.#{$siteName} {
    &_block {
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 6rem;

        @include mediaQuery(s) {
            padding-top: 6.5rem;
            padding-bottom: 6.5rem;
        }

        &-inner {
            max-width: var(--#{$siteName}_full-width);
            padding-left: 5rem;
            padding-right: 5rem;
            margin-left: auto;
            margin-right: auto;
            box-sizing: content-box;

            @include mediaQuery(m) {
                padding-left: 3rem;
                padding-right: 3rem;
            }

            @include mediaQuery(s) {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }

            &--s {
                padding-left: 10rem;
                padding-right: 10rem;

                @include mediaQuery(m) {
                    padding-left: 6rem;
                    padding-right: 6rem;
                }

                @include mediaQuery(s) {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
        }

        &-heading {
            display: flex;
            align-items: center;
            gap: 4rem;
            margin-bottom: 3rem;

            @include mediaQuery(m) {
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
            }

            & h1 {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 0.08em;
                white-space: nowrap;

                @include mediaQuery(s) {
                    font-size: 1.2rem;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 1rem;
                    height: calc(1rem * 20 / 18);
                    background-size: cover;
                    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2220%22%20viewBox%3D%220%200%2018%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M9%20-4.09687e-05L0%209.99817H18L9%20-4.09687e-05Z%22%20fill%3D%22%23CC4133%22%2F%3E%0A%3Cpath%20d%3D%22M9%2020L0%209.99821H18L9%2020Z%22%20fill%3D%22%237C1623%22%2F%3E%0A%3C%2Fsvg%3E');
                }
            }

            & p {
                font-size: 0.9rem;

                @include mediaQuery(m) {
                    font-size: 1rem;
                }
            }

        }

        & h2 {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 0.08em;
        }

        &--gray {
            background-color: var(--#{$siteName}_sub-bg-color);
        }

        &--bg {
            background-size: calc(5rem * 2) calc(6rem * 2);
            background-position: center top;
            background-repeat: repeat;
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22350%22%20height%3D%22420%22%20viewBox%3D%220%200%20350%20420%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M175%20210L350%20420H0L175%20210Z%22%20fill%3D%22%23E3EBEE%22%2F%3E%3Cpath%20d%3D%22M175%20210L1.27638e-06%203.57628e-06H350L175%20210Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3Cpath%20d%3D%22M0%200L175%20210H0V0Z%22%20fill%3D%22%23F0F3F4%22%2F%3E%3Cpath%20d%3D%22M350%200V210H175L350%200Z%22%20fill%3D%22%23F0F3F4%22%2F%3E%3Cpath%20d%3D%22M350%20420L175%20210H350V420Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3Cpath%20d%3D%22M0%20420V210H175L0%20420Z%22%20fill%3D%22%23E8EEF0%22%2F%3E%3C%2Fsvg%3E');
            background-color: #E8EEF0;

            @include mediaQuery(s) {
                background-size: calc(5rem * 1.5) calc(6rem * 1.5);
            }
        }
    }
}