/**********************
 button
***********************/
.#{$siteName} {
	&_button {
		--button-text-color: var(--#{$siteName}_main-text-color);
		--button-icon-color: var(--#{$siteName}_main-color);

		display: inline-flex;
		position: relative;
		align-items: center;
		justify-content: center;
		color: var(--button-text-color);
		cursor: pointer;

		& * {
			color: inherit;
		}

		& span {
			margin-right: 4.6rem;
			font-size: 0.9rem;
			font-weight: 600;
			font-family: var(--#{$siteName}_font-family);
			line-height: 3.75rem;
			letter-spacing: 0.07em;
			transition: var(--#{$siteName}_transition);

			@include mediaQuery(s) {
				font-size: 1rem;
			}
		}

		&-wrapper {
			margin-top: 2.5rem;

			&--right {
				display: flex;
				justify-content: flex-end;
			}
		}


		&::before {
			content: "";
			position: absolute;
			right: 0;
			height: 3.75rem;
			width: 3.75rem;
			border-radius: 50%;
			background-color: var(--button-icon-color);
			transition: var(--#{$siteName}_transition);
		}

		&::after {
			content: "";
			position: absolute;
			right: calc((3.75rem - 0.9rem) / 2 );
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.55rem 0 0.55rem 0.75rem;
			border-color: transparent transparent transparent #ffffff;
			transition: var(--#{$siteName}_transition);
		}

		&:hover {
			& span {
				margin-left: 0.4rem;
				margin-right: 4.6rem;
			}

			&::before {
				height: 3.5rem;
				width: 3.5rem;
			}

			&::after {
				right: calc((3.4rem - 0.9rem) / 2 );
			}
		}
	}
}