/**********************
 button
***********************/
.#{$siteName} {
	&_button {
		--button-text-color: var(--#{$siteName}_main-text-color);
		--button-icon-color: var(--#{$siteName}_main-color);
		--button-font-size: 0.875rem;

		display: inline-flex;
		position: relative;
		align-items: center;
		justify-content: center;
		color: var(--button-text-color);
		background-color: var(--button-bg-color);
		cursor: pointer;

		& * {
			color: inherit;
		}

		& span {
			margin-right: 5rem;
			font-size: var(--button-font-size);
			font-weight: 600;
			font-family: var(--#{$siteName}_font-family);
			line-height: 3.75rem;
			letter-spacing: 0.07em;
			transition: var(--#{$siteName}_transition);
		}


		&::before {
			content: "";
			position: absolute;
			right: 0;
			height: 3.75rem;
			width: 3.75rem;
			border-radius: 50%;
			background-color: var(--button-icon-color);
			transition: var(--#{$siteName}_transition);
		}

		&::after {
			content: "";
			position: absolute;
			right: calc((3.75rem - 0.7rem) / 2 );
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.4rem 0 0.4rem 0.6rem;
			border-color: transparent transparent transparent #ffffff;
			transition: var(--#{$siteName}_transition);
		}

		&:hover {
			& span {
				margin-left: 0.4rem;
				margin-right: 4.6rem;
			}

			&::before {
				height: 3.5rem;
				width: 3.5rem;
			}

			&::after {
				right: calc((3.5rem - 0.9rem) / 2 );
			}
		}
	}
}