/**********************
 card
***********************/
.#{$siteName} {
    &_card {
        &-row {
            --card-gap: 2rem;

            display: flex;
            align-items: stretch;
            justify-content: center;
            gap: var(--card-gap);

            @include mediaQuery(s) {
                flex-direction: column;
            }

            &_half {
                > * {
                    flex: 1;
                }
            }
        }

        &-col {
            --card-gap: 1rem;

            display: flex;
            flex-direction: column;
            gap: var(--card-gap);
        }
    }
}