/**********************
 Ellipsis
 - Multiline text with ellipsis
 - Supported IE and Firefox
***********************/
.#{$siteName} {
    &_ellipsis {
        --font-size-base: 0.875rem;
        --line-height-computed: 2;
        --lines-to-show: 3;

        @include mediaQuery(m) {
            --line-height-computed: 1.7;
        }

        width: 100%;
        overflow: hidden;

        p {
            position: relative;
            margin: 0;
            height: calc(var(--font-size-base) * var(--line-height-computed) * var(--lines-to-show));
            line-height: var(--line-height-computed);

            &:before,
            &:after {
                position: absolute;
            }

            &:before {
                content: "...";
                top: calc(var(--font-size-base) * var(--line-height-computed) * (var(--lines-to-show) - 1));
                right: 0;
            }

            &:after {
                content: "";
                height: 100%;
                width: 100%;
            }
        }
    }
}