@import "../Setting/breakpoints";

/**********************
 form
***********************/
div[role="form"] {
	max-width: 40rem;
	margin: 0 auto;

	@include mediaQuery(s) {
		max-width: 100%;
	}
}

label {
	display: block;
	margin-bottom: 1rem;

	& > * {
		width: 100%;
	}

	& .wpcf7-not-valid-tip {
		font-size: 0.7em;
	}

	& .wpcf7-list-item {
		margin-left: 0;
	}
}

input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),textarea,select {
	width: 100%;
	padding: 0.4rem;
	font-size: 1rem;
	background-color: var(--#{$siteName}_sub-bg-color);
	border: 1px solid var(--#{$siteName}_sub-bg-color);

	&:focus {
		border: 1px solid #e3ebee;
	}
}

input[type="checkbox"] {
	display: none;

	& + span {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-top: 1rem;
		font-size: 0.9rem;
		line-height: 1.5;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;

		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			border: 2px solid #e3ebee;
			transition: all .12s, border-color .08s;
			transform: translateY(-50%);
		}
	}

	&:checked + span::before {
	  width: 10px;
	  top: 0;
	  left: 5px;
	  border-radius: 0;
	  opacity: 1;
	  border-color: var(--#{$siteName}_main-color);;
	  border-top-color: transparent;
	  border-left-color: transparent;
	  transform: rotate(45deg);
	}
}

input[type="submit"] {
	display: block;
	margin: 0 auto;
	width: 16rem;
	padding: 0.6rem 1rem;
	font-size: 0.9rem;
	font-weight: 600;
	font-family: var(--#{$siteName}_font-family);
	line-height: 2;
	letter-spacing: 0.07em;
	transition: var(--#{$siteName}_transition);
	border-radius: 3rem;
	color: #ffffff;
	background-color: var(--#{$siteName}_main-color);

	&:hover {
		background-color: var(--#{$siteName}_main-text-color);
	}
}

.form-agreement {
	text-align: center;

	& > span:first-child {
		display: inline-block;
		margin: 2rem 0;
		font-size: 1rem;
		font-weight: 500;

		& a {
			color: var(--#{$siteName}_main-color);
			text-decoration: underline;
		}
	}
}