/**********************
 header
***********************/
.#{$siteName} {
	&_header {
		--header-bg-color: transparent;
        --header-text-color: var(--#{$siteName}_main-text-color);
        --header-gap: 1rem;
        --header-logo-h: 40px;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		gap: var(--header-gap);
		padding: 0 1rem;
		color: var(--header-text-color);
		background-color: var(--header-bg-color);
		z-index: 100;

		& a {
			display: inline-block;
			color: inherit;
		}

		& img {
			height: var(--header-logo-h);
			max-width: fit-content;
		}

		& nav {
			@include mediaQuery(m) {
				position: fixed;
				opacity: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgb(99, 6, 7);
				color: #ffffff;
				pointer-events: none;
				transition: var(--#{$siteName}_transition);
			}

			& ul {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-end;

				@include mediaQuery(m) {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					gap: 1.4rem;
					padding-top: 6.5rem;
					width: 100%;
					height: 100%;
				}
				
				& a {
					display: inline-block;
					padding-left: 1rem;
					padding-right: 1rem;
					font-size: 0.875rem;
					font-weight: 600;
				}
			}

			&.active {
				opacity: 1;
				pointer-events: visible;
			}
		}
	}
	&_menu {
		display: none;
		box-sizing: border-box;
		position: relative;
		width: 20px;
		height: 16px;
		appearance: none;
		cursor: pointer;
		z-index: 102;
		transition: var(--#{$siteName}_transition);

		@include mediaQuery(m) {
			display: inline-block;
		}

		& span {
			display: inline-block;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: var(--#{$siteName}_main-text-color);
			transition: var(--#{$siteName}_transition);

			&:nth-of-type(1) {
				top: 0;
			}

			&:nth-of-type(2) {
				top: 7px;

				&::after {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 2px;
					background-color: var(--#{$siteName}_main-text-color);
					transition: var(--#{$siteName}_transition);
				}
			}

			&:nth-of-type(3) {
				bottom: 0;
			}

		}

		&.active {
			& span {
				background-color: #ffffff;

				&:nth-of-type(1) {
					transform: translate(50%) scale(0);
				}
				&:nth-of-type(2) {
					transform: rotate(45deg);

					&::after {
						background-color: #ffffff;
					}
				}
				&:nth-of-type(2)::after {
					transform: rotate(90deg);
				}
				&:nth-of-type(3) {
					transform: translate(-50%) scale(0);
				}
			}
		}
	}
}