/**********************
 Swiper
***********************/
.#{$siteName} {
    &_swiper-card-switch {
        overflow: hidden;

        & .swiper {
            --slide-date-text-color: var(--#{$siteName}_main-text-color);
            --slide-title-text-color: var(--#{$siteName}_main-text-color);
            --button-arrow-color: #dddddd;
            --pagination-bullet-color: var(--#{$siteName}_link-color);

            height: fit-content;
            overflow: visible;
        }

        /**********************
         Swiper initialized
        ***********************/
        .swiper:not(.swiper-initialized) {
            padding: 0;
        }

        .swiper:not(.swiper-initialized) .swiper-button-prev,
        .swiper:not(.swiper-initialized) .swiper-button-next {
            display: none;
        }

        .swiper:not(.swiper-initialized) .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }

        /**********************
         Media and Title
        ***********************/
        .swiper-slide {
            transition: .8s cubic-bezier(.2, 1, .2, 1);

            &:hover {
                & .slide-content {
                    transform: translateX(0.5rem);
                }
            }
        }

        .slide {
            position: relative;
            overflow: hidden;

            &::before {
                position: absolute;
                top: 0;
                letter-spacing: 0;
                display: inline-block;
                content: "";
                height: 100%;
                width: 100%;
                background-color: var(--#{$siteName}_sub-bg-color);
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                z-index: -1;
            }
        }

        .slide-content {
            width: 70%;
            padding: 3rem 0;
            transition: var(--#{$siteName}_transition);
        }

        .slide-date {
            display: block;
            font-size: 0.8rem;
            line-height: 1;
            color: var(--slide-date-text-color);
        }

        .slide-text {
            margin-top: 1em;
            color: var(--slide-title-text-color);

            & h2 {
                font-size: 1.25rem;
                font-weight: 600;
                font-family: 'Noto Sans JP', sans-serif;
                color: inherit;
            }

            & p {
                font-size: 0.875rem;
                color: inherit;
            }
        }
    }
}