/**********************
 Swiper
***********************/
.#{$siteName} {
    &_swiper-card-switch {
        padding: 6.5rem 4rem;
        overflow: hidden;

        @include mediaQuery(m) {
            padding: 4rem 4rem;
        }

        & .swiper {
            --card-border-radius: 4px;
            --slide-date-text-color: var(--#{$siteName}_sub-text-color);
            --slide-title-text-color: var(--#{$siteName}_main-text-color);
            --button-arrow-color: #dddddd;
            --pagination-bullet-color: var(--#{$siteName}_link-color);
            --box-shadow: .8rem .8rem 1.2rem rgba(0, 0, 0, .05), -.8rem -.8rem 1.2rem #ffffff;
            --box-shadow-dark: .8rem .8rem 1.2rem rgba(0, 0, 0, .1), -.8rem -.8rem 1.2rem rgba(#ffffff,.2);

            height: fit-content;
            overflow: visible;
        }

        /**********************
         Prev and Next Button 
        ***********************/
        .swiper-button-prev, .swiper-button-next {
            position: absolute;
            display: grid;
            top: 0;
            bottom: 0;
            width: 4rem;
            height: 4rem;
            margin: auto;
            cursor: pointer;
            place-content: center;
            transition: .8s cubic-bezier(.2, 1, .2, 1);
            z-index: 1;
        }

        .swiper-button-prev {
            right: calc(100% - 1rem);
        }

        .swiper-button-next {
            left: calc(100% - 1rem);
        }

        .swiper-button-prev::before, .swiper-button-next::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: var(--box-shadow-dark);
        }

        .swiper-button-prev::after, .swiper-button-next::after {
            width: 1.2rem;
            height: 1.2rem;
            content: "";
            border: solid var(--button-arrow-color);
            border-width: 3px 3px 0 0;
            border-color: #fff;
        }

        .swiper-button-prev::after {
            margin-left: 0.4rem;
            transform: rotate(-135deg);
        }

        .swiper-button-next::after {
            margin-right: 0.4rem;
            transform: rotate(45deg);
        }

        .swiper-button-disabled {
            pointer-events: none;
            opacity: 0;
        }

        /**********************
         Swiper initialized
        ***********************/
        .swiper:not(.swiper-initialized) {
            padding: 0;
        }

        .swiper:not(.swiper-initialized) .swiper-button-prev,
        .swiper:not(.swiper-initialized) .swiper-button-next {
            display: none;
        }

        .swiper:not(.swiper-initialized) .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }

        /**********************
         Media and Title
        ***********************/
        .swiper-slide {
            transition: .8s cubic-bezier(.2, 1, .2, 1);

            &:hover {
                transform: translateY(-0.5rem);
            }
        }

        .slide {
            overflow: hidden;
            border-radius: var(--card-border-radius);
            box-shadow: var(--box-shadow);
        }

        .slide-media {
            padding-top: 50%;
        }

        .slide-content {
            padding: 1rem;
        }

        .slide-date {
            display: block;
            font-size: 0.8rem;
            line-height: 1;
            color: var(--slide-date-text-color);
        }

        .slide-title {
            margin-top: 1em;
            color: var(--slide-title-text-color);
        }
    }
}