/**********************
 Swiper
***********************/
.#{$siteName} {
    &_swiper-card-switch {
        overflow: hidden;
        background-color: #ffffff;

        & .swiper {
            --slide-date-text-color: var(--#{$siteName}_main-text-color);
            --slide-title-text-color: var(--#{$siteName}_main-text-color);
            --button-arrow-color: #dddddd;
            --pagination-bullet-color: var(--#{$siteName}_link-color);

            height: fit-content;
            overflow: visible;

            @include mediaQuery(l) {
                padding: 0 2.5rem;
            }

            @include mediaQuery(xs) {
                padding: 0 1rem;
            }
        }

        /**********************
         Prev and Next Button 
        ***********************/
        .swiper-button-prev, .swiper-button-next {
            position: absolute;
            display: grid;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            place-content: center;
            transition: .8s cubic-bezier(.2, 1, .2, 1);
            z-index: 1;

            @include mediaQuery(xs) {
                display: none;
            }
        }

        .swiper-button-prev {
            left: -0.5rem;
        }

        .swiper-button-next {
            left: calc(100% - 1rem);
        }

        .swiper-button-prev::before, .swiper-button-next::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
        }

        .swiper-button-prev::after, .swiper-button-next::after {
            width: 1.2rem;
            height: 1.2rem;
            content: "";
            border: solid #373737;
            border-width: 3px 3px 0 0;
            border-color: #373737;
        }

        .swiper-button-prev::after {
            margin-left: 0.4rem;
            transform: rotate(-135deg);
        }

        .swiper-button-next::after {
            margin-right: 0.4rem;
            transform: rotate(45deg);
        }

        .swiper-button-disabled {
            pointer-events: none;
            opacity: 0;
        }

        /**********************
         Swiper initialized
        ***********************/
        .swiper:not(.swiper-initialized) {
            padding: 0;
        }

        .swiper:not(.swiper-initialized) .swiper-button-prev,
        .swiper:not(.swiper-initialized) .swiper-button-next {
            display: none;
        }

        .swiper:not(.swiper-initialized) .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }

        /**********************
         Media and Title
        ***********************/
        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
            transition: .8s cubic-bezier(.2, 1, .2, 1);

            &:hover {
                transform: translateX(0.4rem);
            }
        }

        .slide {
            position: relative;
            height: 100%;
            overflow: hidden;

            &::before {
                position: absolute;
                top: 0;
                letter-spacing: 0;
                display: inline-block;
                content: "";
                height: 100%;
                width: 100%;
                background-color: var(--#{$siteName}_sub-bg-color);
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                z-index: -1;
            }
        }

        .slide-content {
            width: 80%;
            padding: 3rem 0;
            transition: var(--#{$siteName}_transition);
        }

        .slide-date {
            display: block;
            font-size: 0.7rem;
            line-height: 1;
            color: var(--slide-date-text-color);

            @include mediaQuery(s) {
                font-size: 0.8rem;
            }
        }

        .slide-text {
            margin-top: 1em;
            color: var(--slide-title-text-color);

            & h2 {
                font-size: 1.2rem;
                font-weight: 600;
                color: inherit;

                @include mediaQuery(s) {
                    font-size: 1.6rem;
                }
            }

            & p {
                font-size: 0.8rem;
                color: inherit;

                @include mediaQuery(s) {
                    font-size: 1rem;
                }
            }
        }
    }
}